NEXTPUBLICAPPWRITEENDPOINT=""
NEXTPUBLICAPPWRITEPROJECT=""
NEXTPUBLICAPPWRITEDATABASE=""
NEXTPUBLICAPPWRITEUSERSCOLLECTION=""
NEXTPUBLICAPPWRITEFILESCOLLECTION=""
NEXTPUBLICAPPWRITEBUCKET=""
NEXTAPPWRITESECRET=""